.home_navs{
    height: 1.6rem;
    background: lavender;
    display: flex;

}
.home_navs a{
    display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}