.Home_news {

    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: auto;


    .news_nav {
        position: fixed;
        background: #fff;
        width: 100%;
        height: 1.5rem;

        .ant-menu {
            height: 100%;
            margin: .3rem 0 !important;

            .ant-menu-item {

                width: 25%;
                text-align: center;
                font-size: 0.325rem;


                .anticon-mail {
                    position: absolute;
                    bottom: 0;
                }
            }
        }


    }


    .newbody {
        margin-top: 1.7rem;
        padding: 0 3%;


        .like {
            font-size: 0.6rem;
            padding: 0.2rem 0.2rem;

            span {
                font-size: .4rem;
                color: #999;
            }
        }

        .big-wrap {
            .follow-user-item {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                overflow: hidden;

                img {
                    width: .8rem;
                    height: .8rem;
                    box-sizing: border-box;
                    background: #fff3e8;
                    border: .013333rem solid #e6e6e6;
                    border-radius: 50%;
                    flex-shrink: 0;
                }

                .user__name {
                    margin: 0 .3rem;
                    font-size: .413333rem;
                }
            }

            .article__cover {
                margin: .2rem 0 .066667rem;

                img {
                    width: 100%;
                    border-radius: 0 .133333rem;
                }


            }

            h3 {
                font-size: .666667rem;
            }

            .article__controls {
                margin: .133333rem 0;
                overflow: hidden;

                .article__reading {
                    float: left;
                    font-size: .433333rem;
                    color: #999;
                }

                .control-btn-area {
                    float: right;

                    div {
                        float: left;
                        font-size: .433333rem;
                        margin-left: .433333rem;
                    }
                }
            }
        }

        .big-wrap-item {
            margin-top: .266667rem;
            width: 100%;
            display: flex;

            .article-img {
                position: relative;
                width: 2rem;
                height: 2.5rem;
                flex-shrink: 0;
                -webkit-flex-shrink: 0;
                overflow: hidden;
                border-radius: .133333rem;
                line-height: 0;
                font-size: 0;
                width: 45%;
            }

            .article-info {
                width: 50%;
                margin-left: 3%;


                .follow-user-item {
                    overflow: hidden;

                    img {
                        width: .733333rem;
                        height: .733333rem;
                        border-radius: 50%;
                        float: left;
                    }

                    .user__name {
                        float: left;
                        margin: .016667rem;
                        margin-left: 0.325rem;
                        font-size: .35rem;
                        line-height: .733333rem;
                    }



                }


                .article-title {
                    width: 100%;
                    font-weight: 600;
                    margin: .18rem 0 .106667rem;
                    font-size: .18rem;
                    color: #474346;
                    line-height: 20px;
                }

                .article-tool {
                    display: flex;

                    .tool-left {
                        width: 50%;
                        font-size: .23rem;
                    }

                    .tool-right {
                        width: 50%;
                        font-size: .4rem;
                        text-align: right;
                    }
                }
            }
        }
    }
}