.login {
    padding: 30% 5%;

    .ant-input {
        height: 1.1875rem;
    }

    .login-form-forgot {
        float: right;
    }

    .login-form-button {
        margin: 0.2rem 0;
        width: 100%;
        height: 1.0667rem;

    }

    .ant-form-explain {
        padding: 0.2667rem 0;
    }
}